{% extends "VocabloomApp/main.html" %}
{% load static %}
{% block content %}
<main>
    <section id="form-container">
        <img id="logo" src="{% static 'images/chat-icon.png'%}" alt="">
        <div id="welcome-message">
            <h1>Welcome to Vocabloom</h1>
            <p>Join a room to start chatting with others.</p>
        </div>
        <form action="" id="form">
            <div class="form-field">
                <input type="text" value="" name="room" placeholder="Enter room name" id="room-name" style="text-transform: uppercase;" required>
            </div>
            <div class="form-field">
                <input type="text" value="" name="username" placeholder="Enter your name" id="room-name" style="text-transform: uppercase;" required>
            </div>
            <div class="form-field">
                <input type="submit" value="Join Stream">
            </div>
        </form>
    </section>
</main>
<script>
    let form = document.getElementById('form');
    
    let handleSubmit = async(e) => {
        e.preventDefault();

        let room = e.target.room.value.toUpperCase();
        let username = e.target.username.value.toUpperCase();
        
        let response = await fetch(`/get_token/?channel=${room}`);
        let data = await response.json();

        let UID = data.uid;
        let token = data.token;

        sessionStorage.setItem('UID', UID);
        sessionStorage.setItem('token', token);
        sessionStorage.setItem('room', room);
        sessionStorage.setItem('name', username);

        window.open('/room/', '_self');
    }
    form.addEventListener('submit', handleSubmit);
</script>
{% endblock %}